@use "sass:color";
// Required
@import "../node_modules/bootstrap/scss/functions";

$body-bg: #000;
$body-color: #eeeeee;
$metal-red: #d41212;
$primary: $metal-red;
$dark: color.scale($metal-red, $lightness: -60%);

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";

// 4. Include any optional Bootstrap components as you like
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/dropdown";
@import "../node_modules/bootstrap/scss/button-group";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/accordion";
@import "../node_modules/bootstrap/scss/breadcrumb";
@import "../node_modules/bootstrap/scss/pagination";
@import "../node_modules/bootstrap/scss/badge";
@import "../node_modules/bootstrap/scss/alert";
@import "../node_modules/bootstrap/scss/progress";
@import "../node_modules/bootstrap/scss/list-group";
@import "../node_modules/bootstrap/scss/close";
@import "../node_modules/bootstrap/scss/toasts";
@import "../node_modules/bootstrap/scss/modal";
@import "../node_modules/bootstrap/scss/tooltip";
@import "../node_modules/bootstrap/scss/popover";
@import "../node_modules/bootstrap/scss/carousel";
@import "../node_modules/bootstrap/scss/spinners";
@import "../node_modules/bootstrap/scss/offcanvas";

// Helpers
@import "../node_modules/bootstrap/scss/helpers";

// Utilities
@import "../node_modules/bootstrap/scss/utilities/api";


@font-face {
  src: url("../fonts/MetalMania-Regular.ttf");
  font-family: "Metal Mania"
}

@font-face {
  src: url("../fonts/NewRocker-Regular.ttf");
  font-family: "New Rocker"
}

@font-face {
  src: url("../fonts/AvignonNF.woff") format("woff");
  font-family: "Avignon";
}

@font-face {
  src: url("../fonts/DeathDevil.woff") format("woff");
  font-family: "Death Devil";
}

@font-face {
  src: url("../fonts/Destroy.woff") format("woff");
  font-family: "Destroy";
}

@font-face {
  src: url("../fonts/ghastly-panic.woff2") format("woff2");
  font-family: "Ghastly";
}

@font-face {
  src: url("../fonts/norse.woff2") format("woff2");
  font-family: "Norse";
}

@font-face {
  src: url("../fonts/venom.woff2") format("woff2");
  font-family: "Venom";
}

#about_text {
  margin-top: 4em;
}

#name_container {
  min-height: 12em;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% {  transform: rotate(359deg); }
}
#loading_icon {
    z-index: 10;
    background-color: #00000000;
    border-radius: 50%;
}
#loading_icon.loading {
  animation: spin 2s linear infinite;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("../img/dagger_burger.svg");
}

.navbar-dark .navbar-brand {
  padding-left: 0.5em;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ddd !important;
  font-weight: 600;
  padding-left: 0.5em;
}

.navbar-dark .navbar-nav .nav-link.active {
  font-weight: bold;
  color: #fff !important;
}


// Loading overlay
.page_loader {
    background-color: #000;
    fill: #000;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9988;
}

#page_loader_icon {
    width: 100%;
    height: 100%;
    background: url('../img/warsquid_icon_transparent.svg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}
@include media-breakpoint-up(sm) {
  #page_loader_icon {
    background-size: 40%;
  }
}
@include media-breakpoint-up(md) {
  #page_loader_icon {
    background-size: 30%;
  }
}
@include media-breakpoint-up(lg) {
  #page_loader_icon {
    background-size: 20%;
  }
}

#band_name {
  z-index: 5;
}

#generate_button {
  font-weight: 600;
}

#band_name_text {
  display: inline-block;
}

.band_font1 {
  font-family: "Avignon";
  text-transform: uppercase;
  font-size: 4em;
}

.band_font2 {
  font-family: "Death Devil";
  text-transform: uppercase;
  font-size: 4em;
}

.band_font3 {
  font-family: "Destroy";
  font-size: 3em;
}

.band_font4 {
  font-family: "Ghastly";
  font-size: 6em;
}

.band_font5 {
  font-family: "Norse";
  font-size: 5em;
}

.band_font6 {
  font-family: "Venom";
  font-size: 6em;
}

.band_font7 {
  font-family: "Metal Mania";
  font-size: 5em;
  font-weight: normal;
}

.band_font8 {
  font-family: "New Rocker";
  font-size: 5em;
  font-weight: normal;
}

/* Custom slider */
$track-w: 12.5em;
$track-h: .25em;
$thumb-d: 1.5em;
$track-c: rgba(255, 255, 255, .9);
$dist: $track-w - $thumb-d;

@mixin track() {
  box-sizing: border-box;
  border: none;
  width: 100%; height: $track-h;
  background: $track-c;
}

@mixin thumb() {
  box-sizing: border-box;
  border: none;
  width: $thumb-d; height: $thumb-d;
  border-radius: 50%;
  background: url('../img/skull_icon.svg') center $metal-red;
  background-size:20px;
  background-repeat: no-repeat;
}

[type='range'] {
  &, &::-webkit-slider-thumb {
    -webkit-appearance: none
  }
  
  flex: 1;
  margin: auto;
  padding: 0;
  min-height: $thumb-d;
  width: $track-w;
  background: transparent;
  font: inherit;
  
  &::-webkit-slider-runnable-track {
    @include track()
  }
  &::-moz-range-track { @include track }
  &::-ms-track { @include track }
  
  &::-webkit-slider-thumb {
    margin-top: .5*($track-h - $thumb-d);
    @include thumb
  }
  &::-moz-range-thumb { @include thumb }
  &::-ms-thumb {
    margin-top: 0;
    @include thumb
  }
  
}

#temperature_slider {
  margin-bottom: 0.5em;
}